/* Global styles
------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	color: #22272e;
	margin: 3;
	padding: 5;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 18px;
	line-height: 2;
}
img {
	width: 300px; 
}
a {
	color: #c2d9ff;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-size: 100px;
	line-height: 1.5;
}
h2 {
	font-size: 45px;
}
h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 5;
	writing-mode: horizontal-tb;
}
.content-wrap {
	width: 800px;
	margin: 5 auto;
	padding: 60px 0; 
}

/* profile
------------------*/
header {
	background: #8cb4f5;
	color: #3c3f42; 
	writing-mode: horizontal-tb;
	a {
		color: #3c3f42;
	}
	a:hover {
		text-declaration: none; 
	}
}

/* Projects
------------------*/
.projects {
	background: #59b2c2;
}
.projects a {
	color: #59b2c2;
}
.projects .btn {
	color: #22272e;
	background: #59b2c2;
	text-decoration: none; 
	padding: 8px;
	border-radius: 4px; 
	display: inline-block;
}
.projects .btn:hover {
	background: rgba(47,48,97,80%);
}
.project-item {
	overflow: hidden;
	border-bottom: 1px dashed #343434;
	padding: 25px 0;
}
.project-item img{
	float: right;
	margin-right: 20px;
}
.project-item h3 {
	margin-top: 0;
}

/* Work Experience
------------------*/
.work-experience {
	background: #a1c6d7;
}

/* Education
------------------*/

/* Contact Info
------------------*/
footer {
	background: #59b2c2;
	color: #22272e; 
}
